<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root

      main(role="main").bgwo6yki91
        .gijigj54.bgwo6yki91__container
          .row.bgwo6yki91__row
            .row__col--6.bgwo6yki91__col-content
              .bgwo6yki91__content
                a(href="/" title="На главную").bgwo6yki91__brand Онлайн-тест
                h1.bgwo6yki91__title Какой из Вас получится трейдер?
                .content.bgwo6yki91__text
                  p Вы давно ищете для себя дополнительный доход и подумываете о трейдинге. Это непростое занятие,насколько Вы к нему готовы? Наш небольшой онлайн-тест позволит Вам понять, насколько Вы готовы к самостоятельному трейдингу или нужно пройти дополнительное обучение. 
                .bgwo6yki91__info
                  .contacts-line.bgwo6yki91__info-item
                    svg.icon.contacts-line__icon
                      use(xlink:href="images/sprite.svg#faq")
                    span.contacts-line__title 7 вопросов
                  .contacts-line.bgwo6yki91__info-item
                    svg.icon.contacts-line__icon
                      use(xlink:href="images/sprite.svg#clock")
                    span.contacts-line__title 3 минуты
            .row__col--6.bgwo6yki91__col-form
              .bgwo6yki91-form-b
                article.tab-pane.bgwo6yki91-form-b__tab.active#tab1
                  header.bgwo6yki91-form-b__header
                    p(data-question="1").tasks-number.bgwo6yki91-form-b__pager Вопрос №1
                    h3.bgwo6yki91-form-b__title Почему Вы заинтересовались трейдингом?
                  .row.bgwo6yki91-form-b__row
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="1").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Вижу потенциал для заработка
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="2").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Занимаются знакомые и рассказали мне
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="3").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Раньше уже занимался, решил вернуться
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="4").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Хочу инвестировать часть своего капитала
                    .error-form.bgwo6yki91-form-b__error Пожалуйста, выберите вариант ответа!
                  footer.bgwo6yki91-form-b__footer
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-prev.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--rtl
                          use(xlink:href="images/sprite.svg#arrow-left")
                        span.btn__title Назад
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-next#main-form-b__footer-btn-next.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--ltr
                          use(xlink:href="images/sprite.svg#arrow-right")
                        span.btn__title Следующий
                article.tab-pane.bgwo6yki91-form-b__tab#tab2
                  header.bgwo6yki91-form-b__header
                    p(data-question="1").tasks-number.bgwo6yki91-form-b__pager Вопрос №2
                    h3.bgwo6yki91-form-b__title Есть ли у вас опыт в торговле?
                  .row.bgwo6yki91-form-b__row
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="1").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Нет никакого опыта
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="2").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Есть небольшой опыт на рынке акций\валютном рынке
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="3").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Есть понимание криптовалютного рынка
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="4").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Есть большой опыт на разных рынках
                    .error-form.bgwo6yki91-form-b__error Пожалуйста, выберите вариант ответа!
                  footer.bgwo6yki91-form-b__footer
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-prev
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--rtl
                          use(xlink:href="images/sprite.svg#arrow-left")
                        span.btn__title Назад
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-next#main-form-b__footer-btn-next.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--ltr
                          use(xlink:href="images/sprite.svg#arrow-right")
                        span.btn__title Следующий
                article.tab-pane.bgwo6yki91-form-b__tab#tab3
                  header.bgwo6yki91-form-b__header
                    p(data-question="1").tasks-number.bgwo6yki91-form-b__pager Вопрос №3
                    h3.bgwo6yki91-form-b__title Какой стиль трейдинга Вам больше подходит?
                  .row.bgwo6yki91-form-b__row
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="1").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Краткосрочная торговля каждый день
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="2").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Среднесрочная торговля, раз в несколько дней
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="3").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Долгосрочный трейдинг, раз в несколько недель
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="4").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Пока не знаю
                    .error-form.bgwo6yki91-form-b__error Пожалуйста, выберите вариант ответа!
                  footer.bgwo6yki91-form-b__footer
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-prev
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--rtl
                          use(xlink:href="images/sprite.svg#arrow-left")
                        span.btn__title Назад
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-next#main-form-b__footer-btn-next.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--ltr
                          use(xlink:href="images/sprite.svg#arrow-right")
                        span.btn__title Следующий
                article.tab-pane.bgwo6yki91-form-b__tab#tab4
                  header.bgwo6yki91-form-b__header
                    p(data-question="1").tasks-number.bgwo6yki91-form-b__pager Вопрос №4
                    h3.bgwo6yki91-form-b__title Какие активы\рынки Вас интересуют
                  .row.bgwo6yki91-form-b__row
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="1").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Валюта
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="2").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Ценные бумаги
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="3").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Криптовалюта
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="4").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Любые, где можно получить профит
                    .error-form.bgwo6yki91-form-b__error Пожалуйста, выберите вариант ответа!
                  footer.bgwo6yki91-form-b__footer
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-prev
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--rtl
                          use(xlink:href="images/sprite.svg#arrow-left")
                        span.btn__title Назад
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-next#main-form-b__footer-btn-next.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--ltr
                          use(xlink:href="images/sprite.svg#arrow-right")
                        span.btn__title Следующий
                article.tab-pane.bgwo6yki91-form-b__tab#tab5
                  header.bgwo6yki91-form-b__header
                    p(data-question="1").tasks-number.bgwo6yki91-form-b__pager Вопрос №5
                    h3.bgwo6yki91-form-b__title На какую доходность Вы ориентируетесь
                  .row.bgwo6yki91-form-b__row
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="1").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el 1-2% ежедневно
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="2").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el 3-5% в месяц
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="3").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Около 5,000 долларов в месяц
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="4").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el 10-20% годовых
                    .error-form.bgwo6yki91-form-b__error Пожалуйста, выберите вариант ответа!
                  footer.bgwo6yki91-form-b__footer
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-prev
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--rtl
                          use(xlink:href="images/sprite.svg#arrow-left")
                        span.btn__title Назад
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-next#main-form-b__footer-btn-next.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--ltr
                          use(xlink:href="images/sprite.svg#arrow-right")
                        span.btn__title Следующий
                article.tab-pane.bgwo6yki91-form-b__tab#tab6
                  header.bgwo6yki91-form-b__header
                    p(data-question="1").tasks-number.bgwo6yki91-form-b__pager Вопрос №6
                    h3.bgwo6yki91-form-b__title Как Вы планируете распорядится прибылью?
                  .row.bgwo6yki91-form-b__row
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="1").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Реинвестировать и увеличить свой рабочий капитал
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="2").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Вывести и купить что-то для себя
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="3").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Вывести и помочь своей семье
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="4").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Часть вывести на жизнь, а часть реинвестировать
                    .error-form.bgwo6yki91-form-b__error Пожалуйста, выберите вариант ответа!
                  footer.bgwo6yki91-form-b__footer
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-prev
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--rtl
                          use(xlink:href="images/sprite.svg#arrow-left")
                        span.btn__title Назад
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-next#main-form-b__footer-btn-next.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--ltr
                          use(xlink:href="images/sprite.svg#arrow-right")
                        span.btn__title Следующий
                article.tab-pane.bgwo6yki91-form-b__tab#tab7
                  header.bgwo6yki91-form-b__header
                    p(data-question="1").tasks-number.bgwo6yki91-form-b__pager Вопрос №7
                    h3.bgwo6yki91-form-b__title Вы планируете обучение трейдингу?
                  .row.bgwo6yki91-form-b__row
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="1").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Да, самостоятельно, с самых азов
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="2").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Да,хочу воспользоваться помощью профессионала
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="3").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Да, кое-что знаю, но нужно еще подтянуть некоторые области
                    .row__col--12.bgwo6yki91-form-b__col
                      button(type="button" data-answer="4").tasks-field-wrap.control-el.bgwo6yki91-form-b__control-el Нет, я специалист в трейдинге
                    .error-form.bgwo6yki91-form-b__error Пожалуйста, выберите вариант ответа!
                  footer.bgwo6yki91-form-b__footer
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-prev
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--rtl
                          use(xlink:href="images/sprite.svg#arrow-left")
                        span.btn__title Назад
                    button(type="button").btn.btn--size-md.btn--theme-simple.bgwo6yki91-form-b__footer-btn-next#main-form-b__footer-btn-next.disabled
                      span.btn__inner
                        svg.icon.btn__icon.btn__icon--ltr
                          use(xlink:href="images/sprite.svg#arrow-right")
                        span.btn__title Следующий
                article.tab-pane.bgwo6yki91-form-b__tab#tab8
                  header.bgwo6yki91-form-b__header
                    p.tasks-number.bgwo6yki91-form-b__pager Результаты теста
                    h3.bgwo6yki91-form-b__title Введите данные и получите результаты мгновенно
                    form(novalidate="novalidate").form.bgwo6yki91-form-el
                      .row.bgwo6yki91-form-el__row
                        .row__col--12.bgwo6yki91-form-el__col
                          .form-line
                            input(type="text" name="name" id="name" autocomplete="nope" required placeholder="Ваше имя").form-field.input-el.form-line__input
                            label(for="name")#name-error.error-form.form-line__error Введите мин. 2 символа
                        .row__col--12.bgwo6yki91-form-el__col
                          .form-line
                            input(type="tel" name="phone" id="phone" autocomplete="nope" required pattern="\d{8,16}" maxlength="16" value="+7").tel-input-country-init.form-field.input-el.form-line__input
                            label(for="phone")#phone-error.error-form.form-line__error Некорректный телефон
                        .row__col--12.bgwo6yki91-form-el__col
                          .form-line
                            input(type="email" name="email" id="email" autocomplete="nope" required placeholder="Ваш e-mail").form-field.input-el.form-line__input
                            label(for="email")#email-error.error-form.form-line__error Некорректный email
                        .row__col--12.bgwo6yki91-form-el__col
                          button(type="submit").form-button.btn.btn--size-md.btn--theme-accent.bgwo6yki91-form-el__btn
                            span.btn__inner
                              svg.icon.btn__icon.btn__icon--ltr
                                use(xlink:href="images/sprite.svg#arrow-right")
                              span.btn__title Получить результаты
                        .row__col--6.bgwo6yki91-form-el__col--privacy
                          p.contacts-line.bgwo6yki91-form-el__footer-text
                            svg.icon.contacts-line__icon
                              use(xlink:href="images/sprite.svg#email")
                            span.contacts-line__title Получите SMS с результатами вашего теста
                        .row__col--6.bgwo6yki91-form-el__col--privacy
                          p.contacts-line.bgwo6yki91-form-el__footer-text
                            svg.icon.contacts-line__icon
                              use(xlink:href="images/sprite.svg#lock")
                            span.contacts-line__title Ваши данные хранятся в обезличенном и зашифрованном виде
                .bgwo6yki91-form-b__progress

      footer.bviwohi-72
        .gijigj54.bviwohi-72__container
          .row.bviwohi-72__row
            .row__col--6.bviwohi-72__col.bviwohi-72__col--terms
              p.bviwohi-72__text
                | Мы не передаем Ваши данные третьим лицам.<br>
                a(href="tel:+788888888") +788888888<br>
                a(href="mailto:support@site.ru") support@site.ru<br>
            .row__col--6.bviwohi-72__col.bviwohi-72__col--copyright
              p.bviwohi-72__text
                a(href="#modal-privacy").js-modal-init Политика конфиденциальности сайта<br>
                | site.ru © 2022

    #modal-sms.vnqhutg-92.vnqhutg-92--sms
      .vnqhutg-92__inner
        .vnqhutg-92__center
          button.js-modal-close.btn-close.vnqhutg-92__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          form(novalidate="novalidate").popup-form.vnqhutg-92-form
            p.vnqhutg-92-form__title Подтверждение
            p.vnqhutg-92-form__subtitle На ваш телефон +78545472894 был отправлен код подтверждения
            .form-line.vnqhutg-92-form__line
              input(type="text" name="code" id="sms-code" autocomplete="nope" required placeholder="Введите код из смс").form-field.input-el.form-line__input
              label(for="sms-code")#codeError.error-form.form-line__error Неверный код
            footer.vnqhutg-92-form__footer
              button(type="button")#res.btn.btn--size-md.btn--theme-accent.vnqhutg-92-form__footer-btn-next
                span.btn__inner
                  span.btn__title Узнать результат
              a(href="#modal-phone").js-modal-close.js-modal-init.btn-change.vnqhutg-92-form__footer-btn-prev
                span.btn__inner
                  span.btn__title Изменить номер

    #modal-phone.vnqhutg-92.vnqhutg-92--phone
      .vnqhutg-92__inner
        .vnqhutg-92__center
          button.js-modal-close.btn-close.vnqhutg-92__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          form(novalidate="novalidate").popup-form.vnqhutg-92-form
            p.vnqhutg-92-form__title Введите правильный номер телефона
            .form-line.vnqhutg-92-form__line
              input(type="tel" name="modal-phone" id="modal-phone" autocomplete="nope" required pattern="\d{8,16}" maxlength="16" value="+7").tel-input-country-modal-init.form-field.input-el.form-line__input
              label(for="modal-phone")#modal-phone-error.error-form.form-line__error Некорректный телефон
            footer.vnqhutg-92-form__footer
              button(type="button").btn.btn--size-md.btn--theme-accent.vnqhutg-92-form__footer-btn-next
                span.btn__inner
                  span.btn__title ОКЕЙ

    #modal-privacy.vnqhutg-92.vnqhutg-92--privacy
      .vnqhutg-92__inner
        .vnqhutg-92__center
          button.js-modal-close.btn-close.vnqhutg-92__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          .content.vnqhutg-92__privacy
            h2 ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
            p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую cайт «site.ru», расположенный на доменном имени https://site.ru/, может получить о Пользователе.
            ul
              li 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                ul
                  li 1.1. В настоящей Политике конфиденциальности используются следующие термины:
                    ul
                      li 1.1.1. Администрация сайта «site.ru», (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                      li 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                      li 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                      li 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                      li 1.1.5. «Пользователь сайта «site.ru» (далее ‑ Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт «site.ru».
                      li 1.1.6. «Cookies» — небольшой фрагментов данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
                      li 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
            ul
              li 2. ОБЩИЕ ПОЛОЖЕНИЯ
                ul
                  li 2.1. Использование Пользователем сайта «site.ru» означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
                  li 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта «site.ru».
                  li 2.3. Настоящая Политика конфиденциальности применяется только к сайту «site.ru». «site.ru». не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте «site.ru». 
                  li 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта «site.ru».
            ul
              li 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
                ul
                  li 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта «site.ru» по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте «site.ru». или при оформлении формы обратной связи или заказа звонка.
                  li 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения формы обратной связи и заказа звонка на Сайте «site.ru» Н на главной странице и на следующих разделах сайта каталога, портфолио, решений, контакты, раздела и включают в себя следующую информацию:
                    ul
                      li 3.2.1. контактный телефон Пользователя;
                      li 3.2.2. адрес электронной почты (e-mail).
                  li 3.3. Сайт «site.ru».защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
                    ul
                      li • IP адрес;
                      li • информация из cookies;
                      li • информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
                      li • время доступа;
                      li • адрес страницы, на которой расположен рекламный блок;
                      li • реферер (адрес предыдущей страницы).
                    ul
                      li 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта «site.ru», требующим авторизации.
                      li 3.3.2. Сайта «site.ru» осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем.
                  li 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
            ul
              li 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
                ul
                  li 4.1. Персональные данные Пользователя Администрация сайта «site.ru» может использовать в целях:
                    ul
                      li 4.1.1. Идентификации Пользователя, зарегистрированного на сайта «site.ru», для оформления заказа и (или) заключения Договора купли-продажи товара и/или оборудования предлагаемой компанией «site.ru».
                      li 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам сайта «site.ru».
                      li 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта «site.ru»., оказания услуг, обработка запросов и заявок от Пользователя.
                      li 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
                      li 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                      li 4.1.6. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием сайта «site.ru».
                      li 4.1.7. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта «site.ru».
                      li 4.1.8. Осуществления рекламной деятельности с согласия Пользователя.
            ul
              li 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
                ul
                  li 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                  li 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на сайте «site.ru», включая доставку товара и/или оборудования.
                  li 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                  li 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
                  li 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                  li 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
            ul
              li 6. ОБЯЗАТЕЛЬСТВА СТОРОН
                ul
                  li 6.1. Пользователь обязан:
                    ul
                      li 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования сайта «site.ru»..
                      li 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                  li 6.2. Администрация сайта обязана:
                    ul
                      li 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
                      li 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                      li 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
                      li 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
            ul
              li 7. ОТВЕТСТВЕННОСТЬ СТОРОН
                ul
                  li 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
                  li 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
                    ul
                      li 7.2.1. Стала публичным достоянием до её утраты или разглашения.
                      li 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
                      li 7.2.3. Была разглашена с согласия Пользователя.
            ul
              li 8. РАЗРЕШЕНИЕ СПОРОВ
                ul
                  li 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта «site.ru» и Администрацией сайта «site.ru», обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                  li 8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                  li 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
                  li 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
            ul
              li 9. ОТВЕТСТВЕННОСТЬ СТОРОН
                ul
                  li 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                  li 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайта «site.ru», если иное не предусмотрено новой редакцией Политики конфиденциальности.
                  li 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать  указать раздел сайта «site.ru».
                  li 9.4. Действующая Политика конфиденциальности размещена на странице по адресу www.site.ru

    include includes/foot.pug